body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
  height: 100vh;
  background-color:rgba(221, 217, 217, 0.9);
  
}

main { 
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 9fr 1fr;
}

.delete-form {
  display: inline-block;
}

a {
  color: #00B7FF;
}

h1 {
  margin: auto;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 60px;
  background-color: rgba(221, 217, 217, 0.3);
}


.formdisplay {
  grid-column: 2/3;
  display: grid;
  grid-row: 2/3;
  background-color: rgba(221, 217, 217, 0.9);
  font-size: 30px;
  padding: 30px;
  grid-gap: 40px;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
} 

p {
  font-size: 25px;
  
}

ul {
  list-style-type: none;
  padding: 0;

}

.log {
  font-size: 22px;
  color: black;

}

.log-link:hover {
  color: blue;
}

.background {
  background-color:rgba(221, 217, 217, 0.9);
  text-align: center;
}

.header {
  font-size: 25px;
  text-align:center;
  grid-column: 2/3;
  margin: auto;
  background-color: rgba(221, 217, 217, 0.9);
  border: 1px solid black;
}

.list {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-wrap: break-word;
  background-color: rgba(221, 217, 217, 0.9);
}

.list-items {
  margin: auto;
  
}

.formpage {

  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  grid-column: 2/3;
  grid-row: 1/3;
  background-image: url(https://images.unsplash.com/photo-1548940740-204726a19be3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1lYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-size:cover;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 9fr 2fr;
}


body > nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  height: 10vh;
}

.edit {
  text-align: center;
}

.edit-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: red;
  background-color: #424748;
  transform: scale(1.5);
}

label {
  grid-column: 1/2;
  text-align:right;
  margin: auto;
}

.enter{
  background-color: black;
  color: white;
  width:fit-content;
  font-size: 25px;
}

.enter:hover{
  background-color: blue;
  color: white;
}

form * {
  font-size: 20px;
  height: fit-content;
  border-radius: 5px;
}

input {
  grid-column: 2 / 3;
}


#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.delete {
  color: red;
  margin-top: 5px;
  padding: 0px;
  font-size: 20px;
  width: 40px;
  line-height: 25px;

}

.delete:hover{
  background-color: red;
  color: aliceblue;
}

button {
  margin: auto;
}

span {
  color: red;
}




