<%- include('../partials/header') %>
<main>
<div class="formpage">
<p class="header">Your Logs:</p>
<div class="list background"> 
    <% for (let post of meals.post){ %>
        <ul>
        <li><a href="/meals/<%=post._id%>" class="log log-link"><%=post.date%></a>
        <form action="/meals/<%=post._id%>?_method=DELETE" method="POST" class="delete-form">
            <button class="delete">x</button>
        </form>
        
        </li>
        </ul>
    <% } %>
</div>
    </div>
</main>
</body>
</html>