<%- include('../partials/header') %>
<main class="homescreen">
    <div class="formpage">
    <p class="header">Welcome, <span><%=details.name%></span></p>
    <form action="/meals" method="POST" class="formdisplay">
        <label>Breakfast:</label>
        <input name="breakfast">
        <label>Lunch:</label>
        <input name="lunch">
        <label>Dinner:</label>
        <input name="dinner">
        <label>Other:</label>
        <input name="other">
        <label>Date:</label>
        <input name="date" type="date" required>
        <input type="submit" class="enter" value="Enter">
    </form>
    </div>
</main>
</body>
</html>