<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    Welcome, <%=details.name%>
</head>
<body>
    <form action="/meals" method="POST">
        <label>Breakfast:
            <input name="breakfast">
        </label><br>
        <label>Lunch:
            <input name="lunch">
        </label><br>
        <label>Dinner:
            <input name="dinner">
        </label><br>
        <label>Other:
            <input name="other">
        </label><br>
        <label>Date
            <input name="date" type="date">
        </label><br>
        <input type="submit" value="log">
    </form>
</body>
</html>